body {
  background-color: #2574b0;
  width: 100%;
  height: 100%;
  background-color: #2a2a2a;
  color: #eee;
  font-family: Courier, Arial;
  padding: 0;
  margin: 0;
}

#title {
  color: #aaa;
  font-size: 36px;
  position: absolute;
  left: 10px;
  bottom: 38px;
}

#space {
  font-size: 12px;
  width: 10px;
}

input {
  border: 2px solid #555;
  background-color: #e5e5e5;
  padding: 4px;
  font-size: 18px;
  font-family: Courier, Arial;
  width: 280px;
}

/* from clipartbest */
#refresh {
  width: 25px;
  height: 25px;
  opacity: 0.6;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  top: 10px;
  background-image: url(reload.png);
  z-index: 10;
}

#refresh:hover {
  background-color: #444;
  cursor:pointer;
}

#sources {
  width: 25px;
  height: 25px;
  opacity: 0.6;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  top: 45px;
  background-image: url(sources.png);
  z-index: 10;
}

#sources:hover {
  background-color: #444;
  cursor:pointer;
}

#overlay {
  top: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,0.9);
}

#list {
  width: 500px;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  height: auto;
  background-color: rgb(50,50,50);
}

#list p {
  text-indent: 20px;
}

h1 {
  padding: 0;
  padding-bottom: 20px;
  margin: auto;
}

#content {
  width: 400px;
  height: 300px;
  margin: auto;
  margin-top: calc(50vh - 150px);
}

a, a:visited {
  color: #fff;
  padding-left: 50px;
  text-indent: -50px;
  display: block;
}

p {
  margin-top: -5px;
}

#source {
  color: #aaa;
  float: right;
  width: 130px;
  font-size: 14px;
  text-align: right;
}

#footer {
  height: 55px;
  bottom: 35px;
  right: 10px;
  color: #aaa;
  text-align: right;
  font-size: 14px;
  width: 220px;
  position: fixed;
}

#progress {
  width: 100%;
  height: 30px;
  bottom: 0px;
  position: fixed;
  background-color: #333;
  padding: 0px;
}

#blue {
  width: 70%;
  height: 30px;
  background-color: #336699;
  opacity: 0.6;
  position: fixed;
}

#confidence {
  width: 100%;
  height: 30px;
  bottom: 0px;
  position: fixed;
  padding: 0px;
  text-align: right;
  font-size: 20px;
  line-height: 30px;
  color: #aaa;
  right: 10px;
}